{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}

<div class="container">
  <h1>Pets</h1>

  <ul>
    {% for pet in pets %}
    <li>

      {% if pet.photo_url %}
      <img src="{{pet.photo_url}}" alt="{{pet.name}}">
      {% endif %}

      {% if pet.available %}
      <a href="/{pet.id}">{{ pet.name }}</a> is <em>available!</em>

      {% else %}
      {{ pet.name }} is <em>unavailable!</em>

      {% endif %}

      {% endfor %}

    </li>
  </ul>

  <a href="/add" class="btn btn-primary">Add a Pet</a>

</div>

{% endblock %}